*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blue_back{
    background-color: rgba(78,160,255);
    background-image: url("../img/pattern.png");
    height: 170px;
    width: 100%;
}

.lightblue_back{
    background-color: rgba(177,229,242,255);
}

h1{
    width: 80%;
    font-size: 50px;
}

.grey{
    color: #909090;
}

.lightblue{
    color: #46b7e9;
}

.description{
    font-size: smaller;
}

.text{
    font-size: medium;
    padding-top: 20px;
    padding-bottom: 20px;
}

.yellow_back{
    background-color: yellow    ;
}

ul{
    margin-left: 20px;
}